version: "3.9"

services:
  web:
    image: ghcr.io/vladafanasev/move-in:main
    platform: linux/arm64
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      HOSTNAME: 0.0.0.0
      PORT: 3000
    restart: unless-stopped
